    /* Sezione classi generaliste */
.bg-primary {
    background-color: #1abc9c !important;
}
.bg-secondary {
    background-color: #2c3e50 !important;
}
a, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link , .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand , .nav, .navbar-nav, .navbar-right {
	color: #fff;
}

ul {
    list-style-type: none;

}

/* Inizio sezione "navbar"  */
.navbar {
    margin-bottom: 0;
	border: 0;
}
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #yellow;
	background-color: #e7e7e7;
}

.navbar-default .navbar-toggle {
	border-color: #1abc9c;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #1abc9c;
}
/* Sezione jumbotron */

.avatar {
    max-height: 200px;
}
/* Sezione portfolio */

#portfolio .box  {

    width: 100%;
}
#portfolio .box > img  {

    width: 100%;
}
/* #portfolio .box:hover  {
    position: relative;
    background-color: green;
    z-index: 4;
} */
/* Sezione "about" */
div h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Sezione Contatti */

.form-control {
    width: 100%;
    border: none ;
    border-bottom: 1px solid #999;
    font-weight: 400;
    box-shadow: none ;
    margin-bottom: 10px;
}
.form-control:focus {
    box-shadow: none;
    border: none;
}
@media screen and (min-width: 576px)
{
    #portfolio .box > img  {

        /* width: 50%; */

    }

    .form-control {
        width: 100%;

    }
}

@media screen and (min-width:768px)

{
    .navbar-form .form-control {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
}
    

}
